body {
    background-image: url(../IMG/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding: 7rem;
    background-attachment: fixed;
}

img {
    border-radius: 20px;
}

p {
   color: #00FFFF;
   font-weight: bold;
}

p i {
    color: red;
}

@media screen and (max-width: 450px) {
    body img {
        width: 100%;
    }

    body {
        padding: 0;
    }

    h1 {
        font-size: 1.5rem;
    }
}