body {                                          /* Impostazioni generali per tutta la pagina */
    background-image: url(../IMG/bg.jpg);
    background-size: cover;                     /* Impostazione dell'immagine affinché sia proporzionata a tutto lo schermo */
    background-position: center;                /* L'immagine viene centrata allo schermo usato */
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding: 2rem 9%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height:100vh;
    background-attachment: fixed;
   
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    line-height: 4.5rem;
    margin: 5rem 0 3.3rem 0;
}

h2 {
    font-family: 'Outfit', sans-serif;
    color: #d20094;
    font-size: 2.2rem;
    margin: 0 0 0.4rem 0;
}

header img {
    width: 12rem;
}

#titolo2 {
    width: 60%;
}

#titolo2 p {
    margin: 0;
}

ul {
    padding: 25px;
}

ul li {
    line-height: 1.5rem;
}

form {
    margin: 3rem 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

input[type="checkbox"] {
    appearance: none;                       /* Annullata la checkbox (graficamente) */
    border: 2px solid white;              /* Impostato il bordo esterno della checkbox */
    width: 1rem;
    height: 1rem;
    margin: 0;
    margin-right: 0.7rem;
}

input[type="checkbox"]:checked {            /* Selezionato lo stato "checked"(flaggato) della box */
    appearance: auto;                       /* Valore di default (necessario a seguito delle precedenti modifiche a "input[type="checkbox"]" */
}

#proceedbtn {
    cursor: pointer;
    padding: 1rem 4rem;
    border: none;
    box-shadow: 0 0 23px  #00FFFF;       /* Valore 1: spostamento dx/sx | Valore 2: Spostamento su/giu | Valore 3: sfumatura | Valore 4: spread ombra | Valore 5: colore */
    text-transform: uppercase;
    background-color: #00FFFF;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

@media screen and (max-width: 800px){
    form{
        display:flex;
        flex-direction: column;
        
    }
    form button{
        margin-top: 3rem;
    }
}

@media screen and (max-width: 500px){
    body{
        display:flex;
        flex-direction: column;
        align-items: start;
    }
    header img{
        width: 8rem;
    }
    h1{
        font-size: 3rem;
        line-height: 2.2rem;
        align-self: start;
    }
    
    main{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #titolo2{ width: 100%;
        padding:0 2rem;
        
    }

}

