/* Your styles here */
html {width: 500px;
    background-color: #ffffff;
    margin:0 auto;
  font-size: 1em;
  box-sizing: border-box;
  border:1px solid #dee1e3 ;
  color:black;
}
p{color:black;}
body {color:#393d41;
    line-height: 1.65;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3 {
    color:#25a2c3;
    font-family:'Montserrat', sans-serif ;
    line-height: 1.5;
    font-weight: bold;
}
h2{font-size: 1.5rem;}

/*HEADER*/
header {
  padding: 40px 0;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

#logo {
  width: 8rem;
}

/* MAIN*/
main{ text-align: center; 
    background: url(../images/banner.jpg);
    background-size: cover;
    width: 100%;
    padding: 35px 0;

}
.intro{
    margin: 0 50px;
}
h1{  
    
    
    margin-bottom: 30px;
  
    font-size: 2rem;
    font-weight: bold;
}

button{
    background-color:#f04c2f;
    color:rgb(255, 255, 255);
    font-family:'Montserrat', sans-serif; ;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 30px 0 ;
    height:50px;
}

.second{text-align: center;
    padding: 100px 50px;
    line-height:2.5;

    
}
.second p {
    color:black;
}
#laptop{
   width: 15rem;
   height:15rem;
   border-radius: 50%;
}
.garanzia{text-align: center; 
    padding: 60px 0;
    line-height: 3rem;
    color:rgb(0, 0, 0);
    background-color:rgb(228,16,17) ;

}
.garanzia :first-child{padding: 40px 0;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom:40px;
    color:rgb(255, 255, 255);
}
#titlegaranzia{
    padding-left: 40px;
}
.garanzia p{padding: 40px 0;
    font-style:oblique;
}
.garanzia h3{font-size: 1.4rem;
    color:white;
}
.serieFoto{padding:  50px 50px;
    line-height: 2.4rem;
    text-align: center;
    margin-bottom: 40px;
}
.serieFoto > img{
    width: 26rem;

}
address{
    
}
footer{text-align: center;
    height:8rem;
    color:gray;
    background-color: #25a2c3;s
}
.footer{;
    color:white;
    padding: ;
}
footer > h4{color:white;
font-weight: bold;
font-size:14px; }
footer a,footer >p{line-height: 2.2rem;
    color:white;
    font-size: 17px;
}
.pixabay{
    margin: 50px 0;;
}
#footerspan{
    text-decoration: underline;
}
.blackp{
    color:black;
}
.endEx{
    color:rgba(100, 216, 234, 0.469);
}